/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */

/* Browser specific styles */
@import 'dirty/hacks';

*{
  padding: 0;
  margin: 0;
  outline: none;
}
button {
  border: none;
}
a {
  color: $dark-violet;
}
body {
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display';
  font-weight: 400;
}

.container {
  margin: 0 25px;
}

.full-height {
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  max-width: 768px;
  // transition: all .5s;
  &.active {
    height: 100vh;

    .nav-bar-mobile {
      display: block;
    }
  }

  .top-header {
    padding: 1.875rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 110px;
      height: 18px;

      img {
        width: 100%;
      }
    }

    .nav-bar-btn {
      width: 30px;
      height: 30px;
    }
  }

  .nav-bar-desktop { display: none; }

  .nav-bar-mobile {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    background-color: $dark-violet;
    background-image: url(../images/content//bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position-y: calc(100vh - 310px);
    background-position-x: right;
    height: 100%;
    overflow-y: auto;
    display: none;

    ul li {
      margin: 0.4rem 1.375rem;
      padding: 1.25rem;

      &.active {
        border: 2px solid $very-light-gray;
      }
    }

    a {
      color: $very-light-gray;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 768px) {
  .container {
    margin: 0 65px;
  }

  header {
    height: auto!important;
    max-width: 1440px;

    .nav-bar-mobile {
      display: none!important;
    }

    .nav-bar-btn {
      display: none;
    }

    .nav-bar-desktop {
      display: block;

      ul {
        display: flex;

        li {
          margin: 0 0.4rem;
          padding: 0.5rem 1.1rem;
          cursor: pointer;

          &:hover:not(.active) a {
            color: $dark-violet;
          }
          &.active {
            background-color: $dark-violet;

            a {
              color: $very-light-gray;
            }
          }
        }
      }

      a {
        color: $dark-grayish-violet;
        text-transform: uppercase;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    margin: 0 165px;
  }

  .header {
    ul li {
      padding: 0.875rem 1.875rem;

    }
  }
}